/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    flash-info {
        compatible = "ore-flashinfo";
        board-name = "Nezha";
        category = "Sunxi";
        board-url = "https://d1.docs.aw-ol.com/en/d1_dev/";
        areas {
            area@0 {
                description = "Boot Blob and Romstage";
                size = <0x10000>; // 64KiB
                file = "$(BOOTBLOB)";
            };
            area@1 {
                description = "Fixed DTFS";
                size = <0x10000>; // 64KiB
                file = "$(FIXED_DTFS)";
            };
            area@2 {
                description = "Payload A";
                size = <0x1e0000>; // 1.875MiB for M-mode payloads such as xv6
                file = "$(PAYLOAD_A)";
            };
            area@3 {
                description = "Payload B";
                size = <0xc00000>; // 12MiB, enough for Linux + initramfs
                file = "$(PAYLOAD_B)";
            };
            area@4 {
                description = "Payload C";
                size = <0xe000>; // 56K
                file = "$(PAYLOAD_C)";
            };
        };
    };
};
