trigger:
- master

schedules:
- cron: "0 0 * * *"
  displayName: Daily midnight (UTC) build
  branches:
    include:
    - master
  always: true

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    curl https://sh.rustup.rs -sSf | sh
    rustup override set nightly
    rustup component add rust-src llvm-tools-preview
    cargo install cargo-xbuild cargo-binutils
    sudo apt-get install device-tree-compiler
  displayName: 'Install Rust Dependencies'
- script: |
    cd src/mainboard/sifive/hifive
    make
  displayName: 'Build SiFive board for RISC-V'
- script: |
    cd src/mainboard/emulation/qemu-riscv
    make
  displayName: 'Build QEMU virt board for RISC-V'
- script: |
    set -e
    git clone https://github.com/qemu/qemu && cd qemu && git checkout v4.2.0-rc3
    mkdir build-riscv64 && cd build-riscv64
    ../configure --target-list=riscv64-softmmu
    make -j16
    sudo ln -s $PWD/riscv64-softmmu/qemu-system-riscv64 /usr/bin/
    sudo ln -s $PWD/qemu-img /usr/bin/
  displayName: 'Install RISC-V QEMU Dependencies'
- script: |
    cd src/mainboard/sifive/hifive
    timeout 120s make run | tee serial
    grep TESTTESTTEST serial
  displayName: 'RISC-V SiFive board QEMU Test'
- script: |
    cd src/mainboard/emulation/qemu-riscv
    timeout 30s make run | tee serial
    grep "Running payload" serial
  displayName: 'RISC-V QEMU Virt board QEMU Test'
