[workspace]
members = [
    "src/arch",
    "src/drivers",
    "src/console",
    "src/cpu",
    "src/soc",
    "payloads",

    "src/lib/*",
    "src/mainboard/aaeon/*",
    "src/mainboard/amd/*",
    "src/mainboard/asrock/*",
    "src/mainboard/ast/*",
    "src/mainboard/emulation/*",
    "src/mainboard/google/*",
    "src/mainboard/nuvoton/*",
    "src/mainboard/opentitan/*",
    "src/mainboard/seeed/*",
    "src/mainboard/sunxi/*",

    "tools/layoutflash",
]

[profile.release]
opt-level = 'z'  # Optimize for size.
lto = true
panic = "abort"

[profile.dev]
panic = "abort"
