/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    flash-info {
        compatible = "ore-flashinfo";
        board-name = "QEMU aarch64";
        category = "emulation";
        board-url = "http://wiki.qemu.org/Main_Page";
        areas {
            area@0 {
                description = "Boot Blob";
                compatible = "ore-bootblob";
                size = <0x80000>; // 512KiB
                file = "$(TARGET_DIR)/bootblob.bin";
            };
            area@1 {
                description = "Fixed DTFS";
                compatible = "ore-dtfs";
                size = <0x80000>; // 512KiB
                file = "$(TARGET_DIR)/fixed-dtfs.dtb";
            };
            area@2 {
                description = "QEMU aarch64 virt dtb";
                compatible = "ore-dtfs";
                size = <0x100000>; // 1MiB
                /* file = "$(TARGET_DIR)/virt.dtb"; */
            };
            area@3 {
                description = "RomPayload";
                compatible = "ore-rompayload";
                size = <0x2000000>; // 32MiB
                /* file = "$(TARGET_DIR)/kernel.bin"; */
            };
        };
    };
    load-info {
        compatible = "ore-loadinfo";
        board-name = "QEMU aarch64";
        category = "emulation";
        board-url = "http://wiki.qemu.org/Main_Page";
	load-payload {
	    description = "Payload load address";
	    addr = <0x41000000>;
	    size = <0x2000000>;
	};
	load-dtb {
	    description = "DTB load address";
	    addr = <0x45000000>;
	    size = <0x100000>;
	};

    };
};
