[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1"
clap = { version = "4.1.4", features = ["derive"] }
clap-verbosity-flag = "2.0"
ctrlc = "3.2"
env_logger = "0.9"
log = "0.4"
lzss = "0.8"
pathdiff = "0.2"
