[config]
# no default tasks
skip_core_tasks = true

[env.development]
CARGO_ARGS = "--verbose"
TARGET_DIR = "target/riscv64imac-unknown-none-elf/debug/"

[env.release]
CARGO_ARGS = "--release --verbose"
TARGET_DIR = "target/riscv64imac-unknown-none-elf/release/"

[tasks.default]
dependencies = [ "build" ]
script = [
	"riscv64-linux-gnu-objcopy -O binary ${TARGET_DIR}/hifive ${TARGET_DIR}/oreboot.bin",
	"truncate -s 33554432 ${TARGET_DIR}/oreboot.bin"
]

[tasks.install-rust-src]
install_crate = { rustup_component_name = "rust-src" }

[tasks.build]
dependencies = [ "install-rust-src" ]
toolchain = "nightly"
command = "cargo"
args = ["xbuild", "@@split(CARGO_ARGS, )"]

[tasks.run]
dependencies = ["default"]
command = "qemu-system-arm"
args = ["-m", "512m", "-machine", "sifive_ux", "-nographic", "-drive", "file=${TARGET_DIR}oreboot.bin,format=raw,if=mtd", "-d", "guest_errors"]

[tasks.gdb]
dependencies = ["default"]
command = "qemu-system-arm"
args = ["-m", "512m", "-machine", "sifive_ux", "-nographic", "-drive", "file=${TARGET_DIR}oreboot.bin,format=raw,if=mtd", "-d", "guest_errors", "-s", "-S"]
