[package]
name = "starfive-visionfive2-bt0"
version = "0.1.0"
authors = [
  "Daniel Maslowski <info@orangecms.org>",
]
edition = "2021"

[dependencies]
embedded-hal = "1.0.0"
embedded-hal-nb = "1.0.0"
fdt = "0.1.4"
nb = "1"
riscv = "0.10.1"
spin = "0.9"

layoutflash = { path = "../../../../lib/layoutflash" }
log = { path = "../../../../lib/log" }
soc = { path = "../../../../soc", package = "oreboot-soc", features = ["starfive_jh7110"] }

[dependencies.jh71xx-hal]
version = "0.3.0"
features = ["rts"]
