[package]
name = "starfive-visionfive2-bt0"
version = "0.1.0"
authors = [
  "Daniel Maslowski <info@orangecms.org>",
]
edition = "2021"

[dependencies]
embedded-hal = "1.0.0-alpha.9"
embedded-hal-nb = "1.0.0-alpha.1"
fdt = "0.1.4"
nb = "1"
riscv = "0.10.1"
spin = "0.9"

layoutflash = { path = "../../../../lib/layoutflash" }
log = { path = "../../../../lib/log" }

[dependencies.jh71xx-pac]
version = "0.2"

[features]
default = ["12a"]
12a = ["jh71xx-pac/visionfive2-12a"]
13b = ["jh71xx-pac/visionfive2-13b"]
