[package]
name = "oreboot-nezha-bt0"
version = "0.1.0"
authors = [
  "Luo Jia <me@luojia.cc>",
  "Daniel Maslowski <info@orangecms.org>",
  "YdrMaster <ydrml@hotmail.com>",
]
edition = "2021"

[dependencies]
embedded-hal = "=1.0.0"
embedded-hal-nb = "=1.0.0"
log = { path = "../../../../lib/log" }
nb = "1"
spin = "0.9"

[dependencies.oreboot-soc]
path = "../../../../soc"
features = ["sunxi_d1"]

[dependencies.riscv]
version = "0.10.1"
features = ["critical-section-single-hart"]

[features]
default = ["nezha"]

nezha = ["nand"]
lichee = ["nor"]

nand = []
nor = []
mmc = []
