[package]
name = "oreboot-soc"
version = "0.1.0"
authors = ["Oreboot Authors"]
edition = "2021"

[dependencies]
consts = { path = "../lib/consts" }
tock-registers = "0.7.0"
oreboot-arch = { path = "../arch", optional = true }
oreboot-cpu = { path = "../cpu", optional = true }

raw-cpuid = { version = "9.0.0", optional = true }
vcell = { version = "0.1.3", optional = true }
heapless = { version = "0.6.1", optional = true }
util = { path = "../lib/util", optional = true }

d1-pac = { version = "0.0.23", optional = true }
embedded-hal = { version = "1.0.0-alpha.8", optional = true }
nb = "1"

[features]
amd = [
    "util", "raw-cpuid", "heapless", "vcell",
]
sunxi = []
sunxi_d1 = ["sunxi", "d1-pac", "embedded-hal"]
