/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    flash-info {
        compatible = "ore-flashinfo";
        board-name = "QEMU RISC-V VIRT";
        category = "Emulation";
        areas {
            area@0 {
                description = "Boot Blob and Romstage";
                compatible = "ore-bootblob";
                size = <0x100000>; // 512KiB
                file = "$(BOOTBLOB)";
            };
            area@1 {
                description = "Fixed DTFS";
                compatible = "ore-dtfs";
                size = <0x80000>; // 512KiB
                file = "$(FIXED_DTFS)";
            };
            area@2 {
                description = "Empty Space";
                offset = <0x180000>;
                size = <0x1e80000>; // 31MiB
            };
        };
    };
};
