/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    flash-info {
        compatible = "ore-flashinfo";
        board-name = "QEMU RISC-V VIRT";
        category = "Emulation";
        areas {
            area@0 {
                description = "Boot Blob and Romstage";
                offset = <0x0>;
                size = <0x80000>; // 512KiB
                file = "$(TARGET_DIR)/bootblob.bin";
            };
            area@1 {
                description = "Fixed DTFS";
                offset = <0x80000>;
                size = <0x80000>; // 512KiB
                file = "$(TARGET_DIR)/fixed-dtfs.dtb";
            };
            area@2 {
                description = "Empty Space";
                offset = <0x100000>;
                size = <0x1f00000>; // 31MiB
            };
        };
    };
};
