/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    board-info {
        compatible = "ore-boardinfo";
        board-name = "VisionFive 2";
        category = "StarFive";
        board-url = "https://www.starfivetech.com/en/site/boards";
    };

    // TODO: flash size/type/brand...?
    flash-info {
        compatible = "ore-flashinfo";
        areas {
            area@0 {
                description = "JH7110 specific header";
                compatible = "none";
                size = <0x400>; // 1k
            };

            area@1 {
                description = "oreboot bt0";
                compatible = "ore-bt0";
                size = <0x10000>; // 64k
                file = "starfive-visionfive2-bt0.bin";
            };

            area@2 {
                description = "oreboot DTFS";
                compatible = "ore-dtfs";
                size = <0x1000>;
                file = "starfive-visionfive2-board.dtb";
            };

/*
            area@3 {
                description = "oreboot main";
                compatible = "ore-main";
                size = <0x10000>; // 64k
                file = "starfive-visionfive2-main.bin";
            };
*/

            area@4 {
                description = "payload";
                compatible = "ore-payload";
                size = <0x10000>; // 64k
                file = "zephyr.bin";
            };

            // LK
            /*
            area@4 {
                description = "payload";
                compatible = "ore-payload";
                size = <0x30000>; // 192k
                file = "lk.bin";
            };

            area@5 {
                description = "payload";
                compatible = "payload-dtb";
                size = <0x1000>; // 4k
                file = "jh7110-lk.dtb";
            };
            */

            // FIXME: This currently expands the output image.
            // To run via XMODEM in SRAM, we need to omit the kernel and DTB.
            // Linux
            /*
            area@4 {
                description = "LinuxBoot image";
                compatible = "ore-payload";
                // We put this here right after the vendor code.
                offset = <0x400000>;
                size = <0xb80000>; // 12.5 MB
            };

            area@5 {
                description = "LinuxBoot dtb";
                compatible = "linux-dtb";
                // This occupies the remaining space.
                size = <0x80000>; // 512K
            };
            */
        };
    };

    load-info {
        compatible = "ore-loadinfo";

        load-payload {
            description = "Payload load address";
            addr = <0x41000000>;
            size = <0x2000000>;
        };

        load-dtb {
            description = "DTB load address";
            addr = <0x45000000>;
            size = <0x100000>;
        };
    };

    // FIXME: evaluate at build time or runtime
    memory@40000000 {
        device_type = "memory";
        reg = <0x40000000 0x20000000>;
    };
};
