---

name: build

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  LintAndFormat:
    runs-on: ubuntu-latest
    steps:
      - name: 'checkout'
        uses: actions/checkout@v3
      - name: 'Install Dependencies'
        run: sudo apt-get update && make ciprepare
      - name: 'clippy linter'
        run: make --keep-going clippy
      - name: 'Check formatting'
        run: make --keep-going checkformat

  Build:
    runs-on: ubuntu-latest
    steps:
      - name: 'checkout'
        uses: actions/checkout@v3
      - name: 'Install Dependencies'
        run: sudo apt-get update && make ciprepare
      - name: 'Run tests'
        run: make test
      - name: 'Build all mainboards'
        run: make --keep-going mainboards
      - name: 'Generate report of binary sizes'
        run: ./scripts/generate-size-report.sh
